body {
	margin: 0 auto;
}
.box {
    width: 222px;
    height: 222px;
    display: flex;
    flex-direction: column;
}
.display {
	background-color: #FAFAFA;
	text-align: right;
    border: 1px solid #282828;
}
.equals,
.row {
    display: flex;
}
.button {
	height: 40px;
	flex: 1;
    float: left;
    background-color: #212121;
    color: #FAFAFA;
    border: 1px solid #282828;
}
.button-equals {
	height: 40px;
	width: 160px;
	flex: 1;
    background-color: #212121;
    color: #FAFAFA;
    border: 1px solid #282828;
}
